// Colors
$clr-blk: #131313;
$clr-bg: #242424;
$clr-matchNext: #252528;
$clr-match: #2c2c2e;
$clr-header: #353638;
$clr-newsHead: #3c3d3f;
$clr-sectionHead: #888888;
$clr-comment: #aaa;
$clr-overlayLight: rgba(0,0,0,0.2);
$clr-overlay: rgba(0,0,0,0.7);
$clr-orange: #fa4616;
$clr-member: #e4e4e4;

// Timing Function 
$ttf: cubic-bezier(0.5, 0, 0.5, 1);

// Screen sizes
$minMob_width: 320px;
$maxMob_width: 1024px;
$min_width: 1280px;
$max_width: 1920px;
// Font sizes
$min_font: 12px;
$max_font: 20px;
