/*-----------------------------------------------------------------*/
/*---- Matches Tables --*/
.matches__head {
	color: #fff;
	font-size: 1.3em;
	@extend %proxi-bld;
	line-height: 11vh;
	text-transform: uppercase;
	background-color: $clr-newsHead;
	text-align: center;
	&_next {
		background-color: $clr-header;
	}
}
.match__wrap {	
	display: flex;
	align-items: center;
	justify-content: center;
	height: 24vh;
	background-color: $clr-match;
	position: relative;
	overflow: hidden;
	&:first-of-type {
		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: rgba(200,200,200, 0.2);
		}
	}
	&_next {
		background-color: $clr-matchNext;
		&:first-of-type {
			&:after {
				background-color: rgba(255,255,255, 0.2);
			}
		}
		&:hover {
			.match__broadcast {
				transform: translateY(0%);
				transition: transform 0.5s $ttf;
			}
			.broadcast__chanel,
			.broadcast__time {
				opacity: 1;
				transition: opacity 0.2s $ttf 0.3s;
			}
		}
	}
}
.match__date {
	position: absolute;
	top: 1em;
	right: 2em;
	color: $clr-sectionHead;
	font-size: 0.9em;
	@extend %proxi-bld;
	z-index: 10;
	&:before {
		content: "";
		display: block;
		height: 100%;
		width: 0.3em;
		position: absolute;
		left: -1em;
		top: 0;
		background-color: $clr-orange;
	}
}
.match__result {
	color: #fff;
	font-size: 3em;
	@extend %proxi-bld;
}
.team__logo {
	width: 25%;
	height: 0;
	padding-bottom: 16%;
	position: relative;
}
.teamLogo__img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.match__broadcast {
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2em;
	box-sizing: border-box;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-105%);
	background-color: #fff;
	cursor: default;
	transition: transform 0.5s $ttf 0.1s;
	&:before {
		content: "";
		display: block;
		height: 100%;
		width: 1.5%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $clr-orange;
	}
}
.broadcast__chanel {
	color: #000;
	font-size: 1.8em;
	@extend %proxi-bld;
	line-height: 1.3em;
	opacity: 0;
	transition: opacity 0.2s $ttf;
}
.broadcast__time {
	color: #000;
	font-size: 3em;
	@extend %proxi-bld;
	opacity: 0;
	transition: opacity 0.2s $ttf;
}
.matchesTable {
	width: 100%;
	th,
	td {
		width: 15%;
		box-sizing: border-box;
		color: #fff;
		font-size: 1.2em;
		@extend %proxi-reg;
		line-height: 8vh;
		text-align: left;
		&:first-child {
			padding-left: 1em;
			width: 25%;
		}
		&:nth-of-type(2) {
			width: 45%;
		}	
		&.shakhtar {
			color: $clr-orange;
		}
	}
	td {
		&:nth-of-type(2) {
			position: relative;
			padding-left: 2.75em;
			.team__logo {
				display: inline-block;
				width: 2.5em;
				height: 2em;
				padding-bottom: 0;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}			
		}
	}
	tr {
		&:nth-of-type(odd) {
			background-color: $clr-match;
		}
		&:nth-of-type(even) {
			background-color: $clr-newsHead;
		}
	}
}
/*-- /Matches Tables --*/