/*-----------------------------------------------------------------*/
/*-- Video Page Block --*/
.container {
	padding-top: 20vh;
}
.video {
	padding-left: 3%;
	padding-right: 3%;
	margin-bottom: 10vh;
	box-sizing: border-box;
}
.sectionHead__wrap_video {
	margin-bottom: 10vh;
}
/*-- /Video Page Block --*/