/*-----------------------------------------------------------------*/
/*-- Members Block Style --*/
.team {
	margin-top: 10vh;
	margin-bottom: 10vh;
	padding-left: 3%;
	padding-right: 3%;
}
.team__class {
	&:not(:last-child) {
		margin-bottom: 10vh;
	}
}
.sectionHead__wrap {
	margin-bottom: 5vh;
}
.team__members {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.teamMember {
	width: 24.025%;
	text-decoration: none;
	margin-right: 1.3%;
	margin-bottom: 11vh;
	position: relative;
	&:nth-child(4n) {
		margin-right: 0;
	}
	&:hover {
		.teamMember__num:before {
			width: 100%;
			transition: width 0.2s $ttf;
		}
		.teamMemberNum {
			color: #fff;
			transition: color 0.2s $ttf;
		}
		.teamMember__name:before {
			width: 100%;
			transition: width 0.3s $ttf 0.2s;
		}
		.teamMemberName {
			color: $clr-bg;
			transition: color 0.3s $ttf 0.2s;
		}
	}
}
.teamMember__img {
	width: 100%;
	height: 0;
	padding-bottom: 150%;
	position: relative;
	background-color: $clr-member;
}
.teamMemberImg {
	display: block;
	max-height: 90%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}
.teamMember__header {
	display: flex;
	width: 94%;
	height: 11vh;
	position: absolute;
	bottom: -5.5vh;
	left: 50%;
	transform: translateX(-50%);
	background-color: $clr-header;
	&:before {
		content: "";
		display: block;
		width: 2.5%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $clr-orange;
		z-index: 1;
	}
}
.teamMember__num {
	width: 32%;
	background-color: $clr-header;
	position: relative;
	&:before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: $clr-orange;
		transition: width 0.2s $ttf 0.3s;
	}
}
.teamMemberNum {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: $clr-orange;
	font-size: 3em;
	@extend %proxi-bld;
	text-align: center;
	transition: color 0.2s $ttf 0.3s;
}
.teamMember__txt {
	width: 75%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 1em;
	@extend %proxi-reg;
	line-height: 1.2em;
}
.teamMember__name {
	width: 68%;
	background-color: $clr-newsHead;
	position: relative;
	&:before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #fff;
		transition: width 0.3s $ttf;
	}
}
.teamMemberName {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 1.5em;
	@extend %proxi-bld;
	line-height: 1.2em;
	transition: color 0.3s $ttf;
}
/*-- /Members Block Style --*/