/*-----------------------------------------------------------------*/
/*-- Video Block Mobile --*/
@media only screen and (max-width: 1200px) {
	.video {
		padding-left: 2%;
		padding-right: 2%;
	}
	.moreBtn__wrap_video {
		margin-top: 5vh;
	}
}
/*-- /Video Block Mobile --*/