/*-----------------------------------------------------------------*/
/*-- Video Block --*/
.video {
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 10vh;
	margin-bottom: 10vh;
	box-sizing: border-box;
}
.sectionHead__wrap_video {
	margin-bottom: 10vh;
}
/*-- /Video Block --*/