@import 'global/variables';
@import 'global/global';

.loading {
    height: 100vh;
    overflow: hidden;
}
section,
footer {
    display: none;
}

@import 'components/navigation';
@import 'global/header';

@import 'news/news-page';
@import 'components/pages-nav';

@import 'global/footer';
// Mobile Styles
@import 'global/header-mob';

@import 'news/news-page-mob';
@import 'components/pages-nav-mob';

@import 'global/footer-mob';

// Ads
@import 'components/blurb';